body {
  background-color: black;
}   
#generations {
  color: green;
  margin: auto;
  font-family: Arial;
  font-size: 11px;
  text-align: center;
  padding-top: 7px;
  
  /*vertical-align: middle*/

}

#container {
  display: inline-block;
  
  margin-top: 15px;
  margin-left: 15px;
  
  width: 680px;
  height: fit-content;
  position: relative;
  
}

#holderP {
  color: green;
  margin: auto;
  font-size:11px;
  font-family: courier;
  position: relative;
  z-index: -1;
  /*text-align: justify;*/
}

button {
  display: block;
  background-color: black;
  margin-top: 5px;
  height: 25px;
  width: 75px;
  color: green;
  border-radius: 10px;
  border: 1px solid green;
}


#buttons {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  
  margin-left: 0px;
  
  
  
}

#winMessage {
  color: green;
  margin: auto;
  font-size:12px;
  font-family: Arial;  
  padding:5px;

}

#winMessageDiv{
  background-color: black;
  height: 20px;
  position: absolute;
  top: 49.5%;
  left: 34%;
  z-index: 0;

}