body {
  background-color: black;
}

#container {
  /*border: 1px solid white;*/
  /* width: 80%; */
  margin-top: 15px;
  height: 600px;
  width: 660px;
  
}

#holderP {
  color: green;
  margin: auto;
  font-size:11px;
  font-family: courier;
  /*text-align: justify;*/
}

button {
  background-color: black;
  margin-top: 10px;
  height: 25px;
  width: 100px;
  color: green;
  border-radius: 10px;
  border: 1px solid green;
}